html,
body {
  min-width: 290px;
  color: #a8c78e;
  background-color: #292525;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
  }


header {
    color: rgb(46, 145, 37);
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}


#navbar li {
    text-align: left;
    list-style: none;
    color:#a8c78e;
    position:relative;
    border-top: 1px solid;
    width: 100%;
}

#navbar a {
    display:block;
    padding: 10px 30px;
    cursor: pointer;
    color:#a8c78e;
    text-decoration: none;
}


#main-doc {
    position: absolute;
    margin-left: 300px;
    padding: 20px;
    margin-bottom: 100px;
}

section li {
    margin: 15px 0px 0px 0px;
}

pre code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #250242;
    color: #09dd02;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
  }

p {
    text-align: left;
    word-break: normal;
    word-wrap: normal;
}

#know-list li {
    list-style: georgian;
}

